/* !important */
.container {max-width: 1440px !important; margin:0 auto!important; padding:0 !important;}

/* header */
.navbar {width: 100%; margin: 0 auto; font-size: 110%;}

/* main */
.main_img{width: 100%; height: 480px; margin: 0 auto; position:relative; background: #ccc;  background: url('../../public/images/main.jpg') no-repeat 50% 50% ; background-size: cover; 
  margin-bottom: 180px; display: flex; flex-wrap: wrap; text-align: center; align-items: center; justify-content: center;  overflow: hidden;}
.main_img::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }
.main_text_box{ color: #ffffff; z-index: 1;}

.main_title{ letter-spacing: -3px; line-height :53px; font-size: 60px ; font-weight:100; margin-bottom: 10px;}
.main_title span{font-weight: 600;}
.main_article_b{font-size: 14px ; font-weight:200; margin-bottom: 20px;}
.main_text_box a{color: #ffffff; font-size: 13px ; border-bottom: 1px solid #ffffff;}
.main_text_box a:hover{color: #ccc; border-bottom: 1px solid #ccc; }


/* section1 */
.news{width: 1440px;margin: 0 auto 180px auto; overflow: hidden;}
.news_contents{display: flex; flex-wrap: wrap;}
.news .contents_title_box{width: 1440px; margin: 0 auto 65px auto; position: relative;}

.news .contents_title_box{position: relative;}
.news .contents_title_box a{position: absolute; bottom: 0; right: 0; color: #8a8a8a; font-size: 14px; }
.news .contents_title_box a:hover{color: #000;}

.news_img_box{width: 336px; margin-right: 32px; position: relative; overflow: hidden;}
.news_img_box:last-child{margin-right: 0; }
.news_img {border: 1px solid #bcbcbc; border-radius: 15px; position: relative; overflow: hidden;}
.news_img img {width: 100%; height: 100%; object-fit: cover;}

.news_title{font-size: 18px; color: #313131; font-weight: 700; margin: 24px 16px 0 16px; letter-spacing: -1px;}

/* section2 */
.our_brands{width: 100%; margin: 0 auto 1px auto; margin-bottom: 180px; overflow: hidden;}

.our_brands .contents_title_box{width: 1440px; margin: 0 auto 65px auto; position: relative;}
.our_brands .contents_title_box a {position: absolute; bottom: 0; right: 0; color: #8a8a8a; font-size: 14px;}
.brand_contents{display: flex; flex-wrap: wrap; align-items: flex-start; }

.brand_img{width: 33.3%; height: 300px; background-size: cover !important;}
.brand_img:nth-child(1) {background: #ccc; background: url('../../public/images/sec_2_03.png') no-repeat 50% 50% ; }
.brand_img:nth-child(2) {background: #ddd; background: url('../../public/images/sec_2_03.png') no-repeat 50% 50% ;}
.brand_img:last-child{width: 33.4%; background: #666; background: url('../../public/images/sec_2_03.png') no-repeat 50% 50% ;}

.brand_text_box{display: flex; flex-wrap: wrap; height: 238px; align-items: center; justify-content: center; 
  color: #000; background: #ececec; font-size: 20px; font-weight: 300; letter-spacing: -1px;}

/* section3 */
.sustain{width: 1440px; margin: 0 auto 180px auto;  overflow: hidden;}

.sustain_contents{display: flex; flex-wrap: wrap; }
.sustain .contents_title_box{width: 1440px; margin: 0 auto 65px auto; position: relative;}

.sustain_img_box{margin-right: 38px; width: 701px; position: relative; }
.sustain_img_box:last-child{margin-right: 0;}
.sustain_img{ width: 100%; height: 327px; background-size: cover !important; border-radius: 15px;}
.sustain_img_box:nth-child(1) .sustain_img{background: url('../../public/images/sec_3_01.png') no-repeat 50% 50% ; }
.sustain_img_box:nth-child(2) .sustain_img{ background: url('../../public/images/sec_3_01.png') no-repeat 50% 50% ; }

.sustain_title{font-size: 22px; font-weight: bold; color: #343333; margin: 36px 33px 8px 33px; letter-spacing: -2px;}
.sustain_article{font-size: 16px; font-weight: 200; color: #989898; margin: 0 33px; letter-spacing: -1px;}

/*footer*/
footer{width: 100%; border-top:1px solid #f1f0f0; padding: 90px 0; margin-top: 100px;}

.footer_nav{margin-bottom: 60px;}
.footer_nav ul{display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
.footer_nav ul li {height: 14px; line-height: 14px;margin-right: 36px; text-align: center;}
.footer_nav ul li:last-child{margin-right:0;}
.footer_nav ul li a { color: #4c4c4c; font-size: 14px; font-weight: 300; }

.footer_sns{ text-align: center; color: #4c4c4c;} 

.follow {margin-bottom: 19px; font-size: 12px;}


.footer_sns ul{display: flex ; flex-wrap: wrap; justify-content: center; margin-bottom: 19px; }
.footer_sns ul li:first-child {margin-right: 20px;}
.low ul li a{padding:0 15px; font-size: 10px; font-weight:bold; }
.low ul li a:hover{color:#CCC;}

.licence{font-size: 12px;}