.page_wrap{width: 100% ; display: flex; flex-wrap: wrap;}
.banner img{max-width: 100%;}
.contents_title_box{font-size: 1.5rem; margin-bottom: 1rem;}

.page_contents{display: flex; flex-wrap: wrap; gap: 2rem;}
.study_plan_wrap{display: flex; width: 100%;}

.study_plan_wrap_l{width: 75%; height: 1000px; margin-right: 2%;}
.planbox_wrap{display: flex; flex-wrap: wrap; margin-bottom: 10px;}
.study_plan_box{font-family: 'GmarketSansMedium'; width: 32%; height: 180px; margin-right: 2%; border-radius: 10px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; font-size: 28px; font-weight: 600; cursor: pointer;}
.study_plan_box:nth-child(1) {background: #c8e7ff;}
.study_plan_box:nth-child(2) {background: #fffdcd;}
.study_plan_box:last-child{margin-right: 0; background: #e8d7fb;}

/* Challengesstyle_SearchForm */
.Challengesstyle_SearchForm{margin-bottom: 8px;}
.SearchForm{width: 100%; height: 3.5rem; position: relative;}
.keyword{width: inherit; height: inherit; padding: 0 3.875rem 0 1.0625rem; background-color: rgb(255, 255, 255); border: 0.0625rem solid rgb(215, 226, 235); border-radius: 0.25rem; appearance: none;}
.SearchFormstyle_Button{width: 6%; height: 100%; line-height: 0; position: absolute; top: 0; right: 0.0625rem; display: flex; align-items: center; gap: 0.75rem; font-size: 17px !important; font-weight: 500 !important;}


/* DropdownGroupstyle_DropdownGroup - boot */
.DropdownGroupstyle_DropdownGroup {display: grid; gap: 0.5rem; grid-template-columns: 1fr 1fr 2fr 2fr; margin-bottom: 10px;}
.DropdownGroupstyle_DropdownGroup .DropdownGroup .title_l {padding: 0.6875rem 1.25rem;}
.DropdownGroup {position: relative; min-width: 8.75rem;}
.DropdownGroupstyle_DropdownGroup .DropdownGroup .title_l {width: 100%; cursor: pointer; display: flex; font-weight: 700; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center;
 align-items: center; padding: 0.6875rem 1.25rem; background-color: rgb(255, 255, 255); border-radius: 0.25rem; border: 0.0625rem solid rgb(215, 226, 235); color: #000 !important;}

.DropdownGroupstyle_DropdownGroup .DropdownGroup .title_r {width: 100%; cursor: pointer; display: flex; font-weight: 700; -webkit-box-pack: justify; justify-content: space-between; -webkit-box-align: center;
 align-items: center; padding: 0.6875rem 1.25rem; background-color: rgb(255, 255, 255); border-radius: 0.25rem; border: 0.0625rem solid rgb(215, 226, 235); color: #000 !important;}

.dropdown-menu.show {width: 100%;}


/* test_table */
.test_table_wrap .test_table {background-color: rgb(255, 255, 255); border: 0.0625rem solid rgb(215, 226, 235); border-radius: 0.25rem;} /* overflow: hidden;} */
.test_table {width: 100%; table-layout: fixed; border-collapse: collapse;}
.test_table tr {border-bottom: 0.0625rem solid rgb(215, 226, 235); margin: 0; color: inherit; font: inherit;}
.test_table thead th {padding: 0.5625rem 0.75rem; text-align: center; font-weight: 700; font-size: 0.75rem; line-height: 150%; color: rgb(152, 168, 185);}
.test_table tbody td {padding: 0.9rem 0.75rem;} 
.test_table tbody tr:hover {background-color: #f1f0f0; cursor: pointer;}
.test_table .status {width: 5%;}
.test_table .title {width: 65%;}
.test_table .level {width: 10%;}
.test_table .finished_count {width: 10%; }
.test_table .acceptance_rate {width: 10%; }

/* study_plan_wrap_r */
.study_plan_wrap_r {width: 23%; height: 1000px; flex: 0 0 auto; background-color: rgb(255, 255, 255); border: 0.0625rem solid rgb(215, 226, 235); border-radius: 0.9375rem; display: block;}
.study_plan_userdata {padding: 1.5rem;}
.userdata_loggeding .name {font-size: 1.125rem; font-weight: 700; line-height: 150%; letter-spacing: -0.009rem; word-break: break-all;}
.userdata_loggeding .data {display: flex; margin: 0.75rem 0px;}
.userdata_loggeding .data li {flex: 1 1 0px; letter-spacing: -0.009em;}
.userdata_loggeding .data .label {font-weight: 400; font-size: 0.875rem; line-height: 150%; color: rgb(152, 168, 185);}
.userdata_loggeding .data .value {margin-top: 0.25rem; font-weight: 700; font-size: 0.875rem; line-height: 150%; color: #000;}
.userdata_loggeding .clickbox {display: flex; flex-direction: column; align-items: flex-start; -webkit-box-pack: center; justify-content: center; background-color: rgb(244, 244, 248); padding: 5px 0px 5px 8px; cursor: pointer; border-radius: 4px;}
.study_plan_recommendCourse {border-top: 0.0625rem solid rgb(215, 226, 235); padding: 1.625rem 1.4375rem 1.5rem;}
.study_plan_recommendCourse .content {padding-left: 0;}
.study_plan_recommendCourse .title a {display: flex; -webkit-box-align: center; align-items: center; font-weight: 700; font-size: 1rem; color: rgb(0, 0, 0); line-height: 150%; letter-spacing: -0.009em;}
.study_plan_recommendCourse .item {display: grid; grid-template-columns: 5.4375rem 1fr !important; gap: 0.5rem 1rem;}

.study_plan_recommendCourse .item {margin-top: 1.1875rem;}
.study_plan_recommendCourse .item .thumbnail{grid-row: span 2 / auto; align-self: flex-start; background-color: rgb(217, 217, 217); border-radius: 0.25rem; overflow: hidden;}
.study_plan_recommendCourse .item .thumbnail .card {width: 87px; height: 56px; background: #ccc;}
.study_plan_recommendCourse .item .title {padding-top: 0.0625rem; font-weight: 500; font-size: 0.875rem; line-height: 150%; color: #000;}
.study_plan_recommendCourse .item .tags {display: flex; flex-wrap: wrap; gap: 0.375rem;}
.study_plan_recommendCourse .item .tags span .level {padding-left: 0.5rem; padding-right: 0.5rem;}
.study_plan_recommendCourse .item .tags span {display: inline-flex; padding: 0.125rem 0.375rem; font-weight: 500; font-size: 0.625rem; line-height: 0.875rem; color: rgb(68, 87, 108); background-color: rgb(244, 244, 248); border-radius: 0.25rem;}

.study_plan_recommendJob {display: block; padding: 1.5rem; border-top: 0.0625rem solid rgb(215, 226, 235);}
.study_plan_recommendJob .title a {display: flex; -webkit-box-align: center; align-items: center; font-weight: 700; font-size: 1rem; color: rgb(0, 0, 0); line-height: 150%; letter-spacing: -0.009em;}

/* SolutionPage.css */
.sol_btn_wrap {background: #1e1e1e; color: #ffffff; font-size: 30px; display: flex; justify-content: space-between; padding: 20px; border-top: 1px solid#fff;}
.custom_link {color: #ffffff;}

/* Question.css */
.question_wrap {padding: 2.5rem; display: flex; max-width: 94.8%; flex-direction: row; justify-content: center; padding: 0 1.25rem; margin: 0 auto;}
.question_contents {width: 100%;}
.btn_back {cursor: pointer; display: inline-block; margin-bottom: 2.5rem; color: #000; vertical-align: top; border-color: #EEEBFF;}

.question_new_wrap {padding-bottom: 1rem; border-bottom: 1px dashed #D7E2EB;}
.q_required {font-size: 14px; line-height: 1.5; display: inline-block; margin-bottom: 2px;}
.q_required span {color: red;}

.q_editor_body{margin-bottom: 2rem;}

.q_btn_wrap {display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start;}
.q_btn {margin-right: 10px;}
.q_btn:last-child {margin-right: 0;}

